<div class="event-card" [ngClass]="{'compact': compact, 'optional': event.isOptional}">
  <div class="event-header">
    <div class="event-icon">
    </div>
    <div class="event-type">
      <mat-chip [color]="getEventTypeColor(event.type)" selected>
        {{event.type}}
      </mat-chip>
    </div>
  </div>
  <div class="event-content">
    <h4 class="event-title">{{event.title}}</h4>
    <div class="event-description" *ngIf="event.description && !compact">
      <p>{{event.description}}</p>
    </div>
    
    <div class="event-details">
      <div class="event-date">
        <span>{{formatDate(event.date)}}</span>
      </div>
      
      <div class="event-time" *ngIf="event.startTime || event.endTime">
        <span>{{getTimeRange()}}</span>
      </div>
      
      <div class="event-location" *ngIf="event.location">
        <span>{{event.location}}</span>
      </div>
    </div>
  </div>
  
  <div class="event-status" *ngIf="event.isOptional">
  </div>
</div>